<footer>   
    <span>
        <ul>
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            <li><a href="https://github.com/{{ site.github_username }}">github.com/{{ site.github_username }}</a></li>
            <li><a href="/AWAP/lizenz">LIZENZ</a></</li>
        </ul>
    </span>
    <span>
         <ul>
            <li><a href="https://help.github.com/articles/github-terms-of-service/">Terms of Service</a></li>
            <li><a href="https://help.github.com/articles/github-privacy-policy/">Privacy Policy</a></li>
        </ul> 
    </span>
    
</footer>